.main-form{
	width: 400px; 
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 3px;
	box-shadow: 0 0 20px 2px rgba(169, 161, 161, 1);
	
}
.container-form {	
	padding: 2%;
	margin:5px;
}

#form-title{
	width: 100%;
	text-align: center;
	padding: .3% .3% 1% 0%;
	background-color: rgba(169, 161, 161, .2);
}

.label-form{
	width: 100%;
	margin: 1%;
	padding-top: 2%;
}

.input-form{
	width: 100%;
	margin: 1%;
}

.text{
	margin-bottom: 5%;
	text-decoration: none;
	border:none;
	outline: none;
	height: 30px;
	border: 1px solid rgba(169, 161, 161, 1);
	border-radius: 3px;
	

}

.text:focus{
	border-bottom: 1px solid rgba(54,170, 202, .9);
}

.button{
	text-decoration: none;
	border: none;
	padding: 14px 16px;
	outline: none;
}

.button:hover{
	cursor: pointer;
	box-shadow: 1px 1px 4px 2px rgba(169, 161, 161, 1);
}

.button:active{
	padding: 12px 14px;
}


.error-input{
	border-bottom: 1px solid rgba(255,0, 0, 1);
}

.color-cyan{
	background-color: rgba(0,70, 255, .9);
}