
html{
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.modulos{
  box-shadow: 0 1px 25px -4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px;
  margin: 1%;
  margin-left: 2%;
  margin-right: 2%;
}

.modulos .porcentaje{
  float: right;
  font-size: 14px;
  margin-right: 10px;
}
.modulos:hover{
  box-shadow: 0 7px 25px 2px rgba(0, 0, 0, 0.4);
  cursor:pointer;
}
.bottom-bar{
  width: 100%;
  background-color: #a8a8a8;
  text-align: center;
}

.progress-bar{
  width: 50%;
  height: 7px;
  border-radius: 5px;
  background-color:  #03c3cf;
}

