.container-table{
	margin:2%;
	overflow-x: auto;
	
}

.header-title{
	text-align: center;
}
.control{
	max-width: 600px;
	margin: auto;
	margin-bottom: 2%;
}
.control input{
	margin-right:0;
	width: 70%;
	height: 35px;
	border-radius: 3px;
}

.control button{
	margin-left: 0;
	width: 25%;
	height: 35px;
	border:none;
	border-bottom-right-radius:  5px;
	border-top-right-radius:  5px;
}
button:hover{
	cursor:pointer;
	box-shadow: 5px 5px 10px 2px rgba(209, 209, 209, .9)
}

table{
	margin:auto;
	border: 1px solid #ddd; 
	border-collapse: collapse;
    width: 90%;
    margin-bottom: 5%;

}

 th, td{
    border: 1px solid #ddd;    
    width: 25%;
    padding: 8px;
    border-radius: 2px;
}


table tr:hover {
	background-color: rgba(164, 159,159, .5);
}


th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2297b7;
    color: white;
}


