.link-button{
  text-decoration: none;
  padding: 13px 30px;
  color: white;
  border-radius: 5px;
  margin-top: 1%;
}

.info-button{
  background-color: #0080ff;
}

.login-button{
  background-color: #009525
}