@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Acme|Passion+One|Roboto|Russo+One');

.game-title{
  font-family: 'Acme', sans-serif;
  text-align: center !important;
}

.game-title h1{
  text-align: center;
  font-size: 4rem;
  text-decoration: underline;
  color: rgb(154, 224, 243);
  text-shadow: -1px 0 black, 0 3px black, 2px 0 black, 0 -2px black
}

.word {
	font-family: 'Acme', sans-serif;
	perspective: 1000px; 
  perspective-origin: 200px 40px;
  
  display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: row;
}

.word span {
	cursor: pointer;
	display: inline-block;
	font-size: 5rem;
	user-select: none;
  line-height: .8; 
  color: rgb(154, 224, 243);
  text-shadow: -1px 0 black, 0 3px black, 2px 0 black, 0 -2px black;
  padding-top:2.5%;
  margin: 0;

}

.word span:nth-child(1).active {
	animation: balance 1.5s ease-out;
	transform-origin: 0% 100% 0px;
}

@keyframes balance {
	0%, 100% {
		transform: rotate(0deg);
	}
	
	30%, 60% {
		transform: rotate(-45deg);
	}
}

.word span:nth-child(2).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom center;
}

@keyframes shrinkjump {
	10%, 35% {
		transform: scale(2, .2) translate(0, 0);
	}
	
	45%, 50% {
		transform: scale(.5) translate(0, -150px);
	}
	
	80% {
		transform: scale(1) translate(0, 0);
	}
}

.word span:nth-child(3).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}

@keyframes falling {
	12% {
		transform: rotateX(240deg);
	}
	
	24% {
		transform: rotateX(150deg);
	}
	
	36% {
		transform: rotateX(200deg);
	}
	
	48% {
		transform: rotateX(175deg);
	}
	
	60%, 85% {
		transform: rotateX(180deg);
	}
	
	100% {
		transform: rotateX(0deg);
	}
}

.word span:nth-child(4).active {
	animation: rotate 1s ease-out;
}

@keyframes rotate {
	20%, 80% {
		transform: rotateY(180deg);
	}
	
	100% {
		transform: rotateY(360deg);
	}
}

.word span:nth-child(5).active {
	animation: toplong 1.5s linear;
}

@keyframes toplong {
	10%, 40% {
		transform: translateY(-10vh) scaleY(1);
	}
	
	90% {
		transform: translateY(-10vh) scaleY(1.5);
	}
}


.word span:nth-child(6).active {
	animation: balance 1.5s ease-out;
	transform-origin: 0% 100% 0px;
}

.word span:nth-child(7).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}

.word span:nth-child(8).active {
	animation: toplong 1.5s linear;
}
